.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #090907;
  background-size: cover;
}

.title {
  display: block;
  width: 100%;
  font-size: 5rem;
  text-align: center;
  padding: 30px;
  color: #ffde40;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

img {
  height: 150px;
  background-color: rgba(#fff, 0.8);
  border-radius: 100%;
  margin-right: 50px;
}
